@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body, html {
    background-color: black;
    width: 100vw;
    height: 100vh;
}

body{
    background-image: url('../image/fundo-madeira.jpg');
    background-size: cover;
    background-attachment: fixed;
}
main { position: relative;
    height: 100vh;
    

}
section#telefone{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 627px;
    width: 311px;
    background-image: url('../image/frame-iphone.png');
}
iframe#tela{
    position: relative;
    top: 80px;
    left: 22px;
    width: 269px;
    height: 471px;
    
}
section#social-midia{
    text-align:right;
}

section#social-midia img:hover {
    border: 2px solid rgba(255, 0, 0, 0.596);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.562);
    transition: transform .3s, border 0.4s;
}

section#social-midia img {
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.527);
    box-sizing: border-box;
    
}